* {
	font-family: "Courier New";
	background-color: #EBE3D0;
}

canvas{
	background-color: #FFF9EB;
	color: #674800;
	border: solid;
}

#mainTitle{
	font-size: 300%;
	padding-top: 1%;
	padding-bottom: 2%;
	color: #674800;
}

#description{
	max-height: 70%;
	max-width: 50%;
}

#description p{
	font-size: 150%;
	text-align: center;
	padding: 5%;
	color: #674800;
	background-color: #FFF9EB;
	border: solid;

}

#howItWorks{
	align-content: left;
}

#pseudocode{
	max-height: 70%;
	max-width: 50%;
}

#pseudocode pre{
	color: #674800;
	font-size: 1.2em;
	background-color: #FFF9EB;
	border: solid;

	padding: 5%;
}

#explanation{
	max-width: 50%;
}

#explanation p{
	color: #674800;
	font-size: 120%;
}
